[submodule "core/c2"]
	path = plugins/pulse-c2
	url = https://github.com/Ruby570bocadito/Pulse-C2
	branch = master

[submodule "core/privesc"]
	path = plugins/privesc
	url = https://github.com/Ruby570bocadito/Rise-Privilege
	branch = main

[submodule "core/kernel"]
	path = plugins/kernel
	url = https://github.com/Ruby570bocadito/Vault-Kernel
	branch = main

[submodule "core/breach"]
	path = plugins/breach
	url = https://github.com/Ruby570bocadito/Breach-Entry
	branch = main

[submodule "modules/recon"]
	path = plugins/recon
	url = https://github.com/Ruby570bocadito/Horizon-Intel
	branch = main

[submodule "modules/ai/specter"]
	path = plugins/ai/specter
	url = https://github.com/Ruby570bocadito/Specter-Terminal
	branch = main

[submodule "modules/ai/apex"]
	path = plugins/ai/apex
	url = https://github.com/Ruby570bocadito/Apex-Automation
	branch = main

[submodule "modules/worm"]
	path = plugins/worm
	url = https://github.com/Ruby570bocadito/Wormy-ML-Network-Worm
	branch = main

[submodule "modules/relay"]
	path = plugins/relay
	url = https://github.com/Ruby570bocadito/Link-Relay
	branch = main

[submodule "modules/operations"]
	path = plugins/operations
	url = https://github.com/Ruby570bocadito/Titan-Operations
	branch = main

[submodule "modules/blue"]
	path = plugins/blue
	url = https://github.com/Ruby570bocadito/BlueForge-Suite
	branch = main
