go 1.25.0

use (
	./cmd/x404x
	./internal/agent
	./internal/api
	./internal/appstate
	./internal/c2server
	./internal/crypto
	./internal/dispatch
	./internal/orchestrator
	./internal/ransomware
	./internal/registry
	./pkg/proto/gen/agent
	./pkg/proto/gen/bridge
	./pkg/proto/gen/c2
	./pkg/proto/gen/common
	./pkg/shared/config
	./pkg/shared/logger
	./pkg/shared/types
)
